<nav>
  <div>
    <a href="{{site.baseurl}}/" title="Inicio de casaventa.co" class="logo">
      <img src="{{'img/logo.webp'|relative_url}}" alt="Logo de casaventa.co" width="34" height="34">
      <span>casaventa.co</span>
    </a>  
    <!-- <div class="dropdown">
      <span>😎 Servicios</span>
      <div class="dropdown-content">
        <a href="{{'desarrollo-paginas-web'|relative_url}}" title="Diseño y desarrollo de páginas web">🌐 Páginas web</a>
        <a href="{{'servicio-seo'|relative_url}}" title="Servicios SEO o de posicionamiento web">📈 Posicionamiento</a>
      </div>
    </div> -->
    <a href="mailto:{{site.email}}" class="boton boton_1">WhatsApp: 3202492786</a>
  </div>
</nav>