.home_header{
  margin-top: 4em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.home_header > div{
  flex: 1 0 400px;
  max-width: 100%;
}

.home_header div h1{
  margin: 0;
}

.header_landing{
  display: grid;
  place-items: center;
  gap: 40px;
}

.home_header img,
.header_landing img
{
  box-shadow: var(--shadow);
  width: min(100%, 400px);
}

.header_landing h1{
  text-align: center;
}