:root {
  /*** COLORES ***/
  --accion: #68c3d4;
  --principal: #ffe8d1;
  --secundario: #568ea3;
  --colorTexto: #110904;
  --gris: #d3d3d3;
  --gris1: #2c2c2c;
  --shadow: rgba(0, 0, 0, 0.18) 0px 5px 15px 0px;
  --radius: 16px;
  /*** FUENTES ***/
  --fuenteTexto: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  scroll-padding-top: 8em;
}

body {
  position: relative;
  font-family: var(--fuenteTexto);
  color: var(--colorTexto);
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4 {
  line-height: 1.08;
  font-weight: 900;
}

h1 {
  font-size: clamp(2.6rem, 2.082rem + 2.59vw, 4rem);
  margin: 0;
}

h2 {
  font-size: clamp(2.2rem, 1.782rem + 2.09vw, 3.2rem);
  text-align: center;
  width: min(100%, 992px);
  margin-inline: auto;
}

h3 {
  font-size: clamp(1.8rem, 1.482rem + 1.59vw, 2.6rem);
}

h4 {
  font-size: clamp(1.4rem, 1.182rem + 1.09vw, 2rem);
}

h5,
p,
li {
  word-wrap: break-word;
  font-size: clamp(1.125rem, 1.072rem + 0.26vw, 1.25rem);
}

a {
  text-decoration: none;
  color: var(--accion);
}

ul li {
  list-style: none;
  margin: 0 0 0 1em;
}

ol li {
  list-style: decimal !important;
  margin: 0 0 0 2em;
}

::marker {
  color: var(--accion);
  font-size: 1.5em;
}

blockquote {
  position: relative;
  padding-left: 2em;
  border-left: #fefefe;
  border-left-width: 1em;
  border-left-style: double;
  padding: 2em;
  background-color: var(--secundario);
  box-shadow: 0 0 0 100vmax var(--secundario);
  -webkit-clip-path: inset(0 -100vmax);
          clip-path: inset(0 -100vmax);
}

blockquote p {
  color: white;
  font-size: 1.6em;
}

blockquote a {
  color: var(--blanco);
}

hr {
  border: 0;
  height: 4px;
  background-color: var(--principal);
  width: 80px;
  margin: 2em 0;
}

.cta {
  background-color: var(--secundario);
box-shadow: 0 0 0 100vmax var(--secundario);
clip-path: inset(0 -100vmax);
  color: var(--principal);
  text-align: center;

  img{
    max-width: 100%;
  }
}

.cta .wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;

  img{
    box-shadow: var(--shadow);
  }
}

.cta_copy{
  flex: 1 0 320px;
  max-width: 100%;
}

.wrapper {
  width: min(calc(100% - 2rem), 1080px);
  margin-inline: auto;
  padding: 4rem 0;
}

.content {
  width: min(calc(100% - 2rem), 1080px);
  margin-inline: auto;
}

.flow > * + * {
  margin-top: 1em;
}

.resaltar {
  color: var(--secundario);
}

.boton {
  display: block;
  border-radius: var(--radius);
  text-decoration: none;
  padding: 16px 24px;
  width: min(100%, 320px);
  text-align: center;
  font-weight: 700;
  box-shadow: var(--shadow);
  transition: all 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.boton:hover {
  transform: scale(1.024);
}

.boton_1 {
  color: white !important;
  background-color: var(--accion);
}

.boton_2 {
  margin-inline: auto;
  color: var(--accion);
  background-color: white;
  border: 2.4px solid var(--principal);
}

.boton_1:active,
.boton_2:active {
  box-shadow: none;
}

/* background-color: var(--secundario);
box-shadow: 0 0 0 100vmax var(--secundario);
clip-path: inset(0 -100vmax); */
