:root {
  /*** COLORES ***/
  --principal: #68C3D4;
  --accion: #FFE8D1;
  --secundario: #568EA3;
  --colorTexto: #110904;
  --gris: #d3d3d3;
  --gris1: #2c2c2c;
  --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --radius: 16px;
  /*** FUENTES ***/
  --fuenteTexto: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  scroll-padding-top: 8em;
}

body {
  position: relative;
  font-family: var(--fuenteTexto);
  color: var(--colorTexto);
  text-rendering: optimizeSpeed;
}

h1, h2, h3, h4{
  font-family: var(--fuenteTexto);
  line-height: 1.24;
}

h1 {
  font-size: clamp(1.75rem, 1.665rem + 0.43vw, 2rem);
  margin: 0;
  max-width: 640px;
}

h2 {
  font-size: clamp(1.86rem, 1.678rem + 0.91vw, 2.36rem);
  max-width: 640px;
}

h3 {
  font-size: clamp(1.4rem, 1.233rem + 0.84vw, 1.86rem);
}

h4 {
  font-size: clamp(1.16rem, 1.145rem + 0.07vw, 1.2rem);
}

p,
li,
a {
  word-wrap: break-word;
  font-size: clamp(1rem, 0.964rem + 0.18vw, 1.125rem);
  max-width: 640px;
}


a {
  text-decoration: none;
  color: var(--accion);
}

img {
  display: block;
  max-width: 100%;
}

ul li {
  list-style: none;
  margin: 0 0 0 1em;
}

ol li {
  list-style: decimal !important;
  margin: 0 0 0 2em;
}

::marker {
  color: var(--accion);
  font-size: 1.5em;
}

blockquote {
  position: relative;
  padding-left: 2em;
  border-left: var(--complemento1);
  border-left-width: 1em;
  border-left-style: double;
  padding: 1em 2em;
}

blockquote p {
  font-weight: bolder;
  font-family: var(--fuenteTexto);
  font-size: 1.6em;
  line-height: 1;
}

blockquote::before {
  position: absolute;
  left: .5em;
  content: '“';
  font-weight: 900;
  font-size: 2em;
  line-height: 1;
  color: var(--secundario);
}

blockquote a {
  color: var(--blanco);
}

.button {
  width: fit-content;
  display: flex;
  padding: 8px 16px;
  cursor: pointer;
  gap: 8px;
  background: var(--secundario);
  color: #fff;
  font-weight: 700;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button:hover {
  box-shadow: var(--shadow);
  transform: scale(1.015);
}

hr {
  border: 0;
  height: 4px;
  background-color: var(--principal);
  width: 80px;
  margin: 2em 0;
}

.wrapper {
  width: calc(100vw - 10%);
  margin-inline: auto;
  padding: 4rem 0;
}

.content {
  width: min(calc(100% - 2rem), 1260px);
  margin-inline: auto;
}

.flow>*+* {
  margin-top: 1em;
}

.resaltar{
  color: var(--principal);
  font-weight: 900;
}

.contenedor{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  min-height: 90vh;
}

.contenedor > div{
  min-height: 70vh;
}

.padding{
  padding: 6em 5% 4em;
}

.contenedor_hijo_1{
  flex: 3 0 520px;
  max-width: 100%;
}

.contenedor_hijo_2{
  max-width: 100%;
  flex: 1 0 400px;
}

.contenedor_hijo_2 ul li{
  margin-bottom: 16px;
}

.columns{
  columns: 2;
}

@media screen and (max-width: 600px) {
  .columns {
    columns: 1;
  }
}

.btn{
  padding: 8px 16px;
  display: block;
  max-width: max-content;
  transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn_cta{
  color: var(--secundario);
  border: 2px solid var(--secundario);
  border-radius: var(--radius);
  font-weight: 700;
  background-color: var(--accion);
}

.btn_cta_black{
  color: var(--secundario);
  border: 2px solid var(--secundario);
  border-radius: var(--radius);
  font-weight: 700;
  background-color: var(--accion);
}

.btn_cta_white{
  color: var(--secundario);
  border: 2px solid var(--secundario);
  border-radius: var(--radius);
  font-weight: 700;
  background-color: var(--accion);
}

.btn:hover{
  border-color: var(--accion);
  box-shadow: var(--shadow);
  transform: scale(1.05);
}

.dark{
  background-color: var(--gris1);
  color: white;
}

/*************SWIPER JS**************/
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* background-color: var(--secundario);
box-shadow: 0 0 0 100vmax var(--secundario);
clip-path: inset(0 -100vmax); */